@import "tailwindcss";

/* Nickel Gothic Variable Regular */
@font-face {
  font-family: 'NickelGothic';
  src: url('@/assets/fonts/NickelGothic/Nickel_Gothic_Variable_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

